<br>
<div class="card">

    <h6 class="card-header">¡Bienvenido!</h6>

  <div class="card-body">
    <br>
    <div class="table-responsive">
      <table class="table table-sm">
        <thead>
          <tr>

            <th scope="col">Nombre</th>
            <th scope="col">Edad</th>
            <th scope="col">Género</th>
            <th scope="col">Estado Civil</th>
            <th scope="col">E-mail</th>
            <th scope="col">Nivel de interés</th>
            <th scope="col">Programa</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              {{prospecto?.nombre}}
              {{prospecto?.apellidoPaterno}}
              {{prospecto?.apellidoMaterno}}
            </td>
            <td>{{prospecto?.edad}}</td>
            <td>{{prospecto?.etiquetaGenero}}</td>
            <td>{{prospecto?.etiquetaEdoCivil}}</td>
            <td>{{prospecto?.email}}</td>
            <td>{{prospecto?.etiquetaNivelInt}}</td>
            <td>{{prospecto?.etiquetaPrograma}}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
<br>
<br>
<br>
<br>
